<ion-header>
  <ion-toolbar class="aligned-with-content">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/microbit"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/evaluador-accesibilidad" [title]="'ACCESSIBILITY_EVALUATOR_TITLE' | translate">
        <ion-icon name="accessibility-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <app-language-chooser></app-language-chooser>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-wrapper">
    <h1>{{ title }}</h1>

    <video controls width="100%" height="auto">
      <source src="assets/videos/secret_message_clip.mp4" type="video/mp4">
      {{ 'SECRET_MESSAGE_PAGE.VIDEO_NOT_SUPPORTED' | translate }}
    </video>

    <h2>{{ 'SECRET_MESSAGE_PAGE.INTRODUCTION_TITLE' | translate }}</h2>
    <p>{{ 'SECRET_MESSAGE_PAGE.INTRODUCTION_TEXT' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.INTRODUCTION_TEXT_1' | translate }}</p>

    <figure>
      <img src="assets/img/morse_code.png" alt="{{ 'SECRET_MESSAGE_PAGE.MORSE_CODE_CAPTION' | translate }}" />
      <figcaption>{{ 'SECRET_MESSAGE_PAGE.MORSE_CODE_CAPTION' | translate }}</figcaption>
    </figure>

    <h2>{{ 'SECRET_MESSAGE_PAGE.TARGET_TITLE' | translate }}</h2>
    <p>{{ 'SECRET_MESSAGE_PAGE.TARGET_TEXT' | translate }}</p>

    <h2>{{ 'SECRET_MESSAGE_PAGE.MATERIALS_TITLE' | translate }}</h2>
    <ul>
      <li *ngFor="let item of ('SECRET_MESSAGE_PAGE.MATERIALS_LIST' | translate)">{{ item }}</li>
    </ul>

    <h2>{{ 'SECRET_MESSAGE_PAGE.STEPS_TITLE' | translate }}</h2>
    <h3>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TITLE' | translate }}</h3>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT' | translate }}</p>
    <pre><code [highlight]="pythonCode_1_1" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_1' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_2' | translate }}</p>
    <pre><code [highlight]="pythonCode_1_2" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_3' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_4' | translate }}</p>
    <pre><code [highlight]="pythonCode_1_3" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_5' | translate }}</p>
    <pre><code [highlight]="pythonCode_1_4" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_6' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_7' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_8' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_9' | translate }}</p>
    <pre><code [highlight]="pythonCode_1_5" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_10' | translate }}</p>

    <h4>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TITLE_2' | translate }}</h4>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_11' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_12' | translate }}</p>
    <pre><code [highlight]="pythonCode_2_1" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_13' | translate }}</p>
    <pre><code [highlight]="pythonCode_2_2" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_14' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_15' | translate }}</p>
    <pre><code [highlight]="pythonCode_2_3" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_16' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_17' | translate }}</p>

    <h4>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TITLE_3' | translate }}</h4>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_18' | translate }}</p>
    <pre><code [highlight]="pythonCode_3_1" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_19' | translate }}</p>

    <h4>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TITLE_4' | translate }}</h4>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_20' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_21' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_22' | translate }}</p>
    <pre><code [highlight]="pythonCode_4_1" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_23' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_24' | translate }}</p>
    <pre><code [highlight]="pythonCode_4_2" [language]="'python'"></code></pre>

    <h4>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TITLE_5' | translate }}</h4>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_25' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_26' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_27' | translate }}</p>
    <pre><code [highlight]="pythonCode_5_1" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_28' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_29' | translate }}</p>
    <pre><code [highlight]="pythonCode_5_2" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_30' | translate }}</p>
    <pre><code [highlight]="pythonCode_5_3" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_31' | translate }}</p>

    <h4>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TITLE_6' | translate }}</h4>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_32' | translate }}</p>
    <ul>
      <li *ngFor="let item of ('SECRET_MESSAGE_PAGE.TRANSFORMANT_LIST' | translate)">{{ item }}</li>
    </ul>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_33' | translate }}</p>
    <pre><code [highlight]="pythonCode_6_1" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_34' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_35' | translate }}</p>
    <pre><code [highlight]="pythonCode_6_2" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_36' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_37' | translate }}</p>
    <pre><code [highlight]="pythonCode_6_3" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_38' | translate }}</p>
    <pre><code [highlight]="pythonCode_6_4" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_39' | translate }}</p>
    <pre><code [highlight]="pythonCode_6_5" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_40' | translate }}</p>

    <h4>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TITLE_7' | translate }}</h4>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_41' | translate }}</p>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_42' | translate }}</p>
    <pre><code [highlight]="pythonCode_7_1" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_43' | translate }}</p>
    <pre><code [highlight]="pythonCode_7_2" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_44' | translate }}</p>

    <h4>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TITLE_8' | translate }}</h4>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_45' | translate }}</p>
    <pre><code [highlight]="pythonCode_8_1" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_46' | translate }}</p>

    <h4>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TITLE_9' | translate }}</h4>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_47' | translate }}</p>
    <pre><code [highlight]="pythonCode_9_1" [language]="'python'"></code></pre>

    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_1_TEXT_48' | translate }}</p>

    <h3>{{ 'SECRET_MESSAGE_PAGE.STEP_2_TITLE' | translate }}</h3>
    <a href="../../assets/Microbit/03_Advanced/01_MissatgeSecret/Secret Message.hex" target="_blank">{{ 'SECRET_MESSAGE_PAGE.STEP_2_TEXT' | translate }}</a>
    <pre><code [highlight]="pythonCode" [language]="'python'"></code></pre>

    <h3>{{ 'SECRET_MESSAGE_PAGE.STEP_3_TITLE' | translate }}</h3>
    <p>{{ 'SECRET_MESSAGE_PAGE.STEP_3_TEXT' | translate }}</p>
  </div>
</ion-content>
