<ion-header>
  <ion-toolbar class="aligned-with-content">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/microbit"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/evaluador-accesibilidad" [title]="'ACCESSIBILITY_EVALUATOR_TITLE' | translate">
        <ion-icon name="accessibility-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/settings" [title]="'TABS.SETTINGS' | translate">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-wrapper">
    <h1>{{ title }}</h1>

    <iframe
      src="assets/html/countdown.html"
      title="Micro:bit Countdown Simulation"
      width="100%"
      height="400px"
      frameborder="0"
      allowfullscreen
      style="border: none; display: block; margin: 0 auto; max-width: 100%;"
    ></iframe>

    <h2>{{ 'COUNTDOWN_PAGE.INTRODUCTION_H2' | translate }}</h2>
    <p *ngFor="let item of ('COUNTDOWN_PAGE.INTRODUCTION_P' | translate)">{{ item }}</p>

    <h2>{{ 'COUNTDOWN_PAGE.MATERIALS_H2' | translate }}</h2>
    <ul>
      <li>{{ 'COUNTDOWN_PAGE.MATERIAL_MICROBIT' | translate }}</li>
      <li>{{ 'COUNTDOWN_PAGE.MATERIAL_ITEM_1' | translate }}</li>
      <li>{{ 'COUNTDOWN_PAGE.MATERIAL_ITEM_2' | translate }}</li>
    </ul>

    <h2>{{ 'COUNTDOWN_PAGE.STEPS_H2' | translate }}</h2>
    <h3>{{ 'COUNTDOWN_PAGE.STEP_1_H3' | translate }}</h3>
    <h4>{{ 'COUNTDOWN_PAGE.STEP_1_H4' | translate }}</h4>
    <p *ngFor="let item of ('COUNTDOWN_PAGE.STEP_1_P' | translate)">{{ item }}</p>
    <p style="text-align: center;">{{ 'COUNTDOWN_PAGE.STEP_1_P_2' | translate }}</p>
    <p>{{ 'COUNTDOWN_PAGE.STEP_1_P_3' | translate }}</p>
    <pre><code [highlight]="pythonCode_1_1" [language]="'python'"></code></pre>

    <p>{{ 'COUNTDOWN_PAGE.STEP_1_P_4' | translate }}</p>
    <pre><code [highlight]="pythonCode_1_2" [language]="'python'"></code></pre>

    <p>{{ 'COUNTDOWN_PAGE.STEP_1_P_5' | translate }}</p>

    <h4>{{ 'COUNTDOWN_PAGE.STEP_1_H4_1' | translate }}</h4>
    <p>{{ 'COUNTDOWN_PAGE.STEP_1_P_6' | translate }}</p>
    <pre><code [highlight]="pythonCode_2_1" [language]="'python'"></code></pre>

    <h4>{{ 'COUNTDOWN_PAGE.STEP_1_H4_2' | translate }}</h4>
    <p *ngFor="let item of ('COUNTDOWN_PAGE.STEP_1_P_7' | translate)">{{ item }}</p>

    <ul>
      <li>{{ 'COUNTDOWN_PAGE.CODE_ITEM_1' | translate }}</li>
      <li>{{ 'COUNTDOWN_PAGE.CODE_ITEM_2' | translate }}</li>
      <li>{{ 'COUNTDOWN_PAGE.CODE_ITEM_3' | translate }}</li>
      <li>{{ 'COUNTDOWN_PAGE.CODE_ITEM_4' | translate }}</li>
    </ul>

    <p *ngFor="let item of ('COUNTDOWN_PAGE.STEP_1_P_8' | translate)">{{ item }}</p>

    <h4>{{ 'COUNTDOWN_PAGE.STEP_1_H4_3' | translate }}</h4>
    <p *ngFor="let item of ('COUNTDOWN_PAGE.STEP_1_P_9' | translate)">{{ item }}</p>

    <h3>{{ 'COUNTDOWN_PAGE.STEP_2_H3' | translate }}</h3>
    <a href="../../../assets/Microbit/03_ConteEnrere/Countdown.hex" target="_blank">{{ 'COUNTDOWN_PAGE.STEP_2_P' | translate }}</a>
    <pre><code [highlight]="pythonCode" [language]="'python'"></code></pre>

    <h3>{{ 'COUNTDOWN_PAGE.STEP_3_H3' | translate }}</h3>
    <p>{{ 'COUNTDOWN_PAGE.STEP_3_P' | translate }}</p>
  </div>
</ion-content>
