<ion-header>
  <ion-toolbar class="aligned-with-content">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/microbit"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'COUNTDOWN_PAGE.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/evaluador-accesibilidad" [title]="'ACCESSIBILITY_EVALUATOR_TITLE' | translate">
        <ion-icon name="accessibility-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/settings" [title]="'TABS.SETTINGS' | translate">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-wrapper">
    <h1>{{ 'COUNTDOWN_PAGE.TITLE' | translate }}</h1>

    <video controls width="100%" height="auto">
      <source src="assets/videos/accessible_clip.mp4" type="video/mp4">
      {{ 'COUNTDOWN_PAGE.VIDEO_NOT_SUPPORTED' | translate }}
    </video>

    <h2>{{ 'COUNTDOWN_PAGE.INTRODUCTION_H2' | translate }}</h2>
    <p>{{ 'COUNTDOWN_PAGE.INTRODUCTION_P' | translate }}</p>

    <h2>{{ 'COUNTDOWN_PAGE.MATERIALS_H2' | translate }}</h2>
    <ul>
      <li>{{ 'COUNTDOWN_PAGE.MATERIAL_MICROBIT' | translate }}</li>
      <li>{{ 'COUNTDOWN_PAGE.MATERIAL_ITEM_1' | translate }}</li>
      <li>{{ 'COUNTDOWN_PAGE.MATERIAL_ITEM_2' | translate }}</li>
    </ul>

    <h2>{{ 'COUNTDOWN_PAGE.STEPS_H2' | translate }}</h2>
    <h3>{{ 'COUNTDOWN_PAGE.STEP_1_H3' | translate }}</h3>
    <p>{{ 'COUNTDOWN_PAGE.STEP_1_P' | translate }}</p>

    <h3>{{ 'COUNTDOWN_PAGE.STEP_2_H3' | translate }}</h3>
    <p>{{ 'COUNTDOWN_PAGE.STEP_2_P' | translate }}</p>
    <pre><code [highlight]="pythonCode" [language]="'python'"></code></pre>

    <h3>{{ 'COUNTDOWN_PAGE.STEP_3_H3' | translate }}</h3>
    <p>{{ 'COUNTDOWN_PAGE.STEP_3_P' | translate }}</p>
  </div>
</ion-content>
