<ion-header [translucent]="true">
  <ion-toolbar class="aligned-with-content">
    <ion-title>
      {{ 'MICROBIT_PAGE.TITLE' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/evaluador-accesibilidad" [title]="'ACCESSIBILITY_EVALUATOR_TITLE' | translate">
        <ion-icon name="accessibility-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/settings" [title]="'TABS.SETTINGS' | translate">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar class="aligned-with-content">
      <ion-title size="large">{{ 'MICROBIT_PAGE.TITLE' | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button [title]="'ACCESSIBILITY_EVALUATOR_TITLE' | translate">
          <ion-icon name="accessibility-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button routerLink="/settings" [title]="'TABS.SETTINGS' | translate">
          <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="projects-grid">
    <ion-card *ngFor="let projectEntry of (projects$ | async | keyvalue)" [routerLink]="projectEntry.value.route" button="true" class="project-card"
      [attr.aria-label]="('MICROBIT_PAGE.OPEN_PROJECT_PREFIX' | translate) + (projectEntry.value.TITLE | translate)">
      <img [src]="projectEntry.value.img" [alt]="('MICROBIT_PAGE.PROJECTS.IMAGE_ALT' | translate: { projectTitle: (projectEntry.value.TITLE | translate) })" />
      <ion-card-header>
        <ion-card-title>{{ projectEntry.value.TITLE | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ projectEntry.value.DESCRIPTION | translate }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
