<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="micropython" href="/tabs/micropython">
      <ion-icon aria-hidden="true" name="logo-python"></ion-icon>
      <ion-label>{{ 'TABS.MICROPYTHON' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="microbit" href="/tabs/microbit">
      <ion-icon aria-hidden="true" name="hardware-chip-outline"></ion-icon>
      <ion-label>{{ 'TABS.MICROBIT' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="microia" href="/tabs/microia">
      <ion-icon aria-hidden="true" name="sparkles-outline"></ion-icon>
      <ion-label>{{ 'TABS.MICROIA' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="repositorio" href="/tabs/repositorio">
      <ion-icon aria-hidden="true" name="logo-github"></ion-icon>
      <ion-label>{{ 'TABS.REPOSITORIO' | translate }}</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
