<ion-header [translucent]="true" role="banner">
  <ion-toolbar class="aligned-with-content">
    <ion-title>
      {{ 'TABS.MICROIA' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <nav [attr.aria-label]="'ACCESSIBILITY.HEADER_NAV_LABEL' | translate" style="display: flex; align-items: center;">
        <ion-button routerLink="/evaluador-accesibilidad" [attr.aria-label]="'ACCESSIBILITY_EVALUATOR_TITLE' | translate">
          <ion-icon name="accessibility-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <app-language-chooser></app-language-chooser>
      </nav>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <main>
    <ion-header collapse="condense">
      <ion-toolbar class="aligned-with-content">
        <ion-title size="large">{{ 'TABS.MICROIA' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button [title]="'ACCESSIBILITY_EVALUATOR_TITLE' | translate" routerLink="/evaluador-accesibilidad">
            <ion-icon name="accessibility-outline" slot="icon-only"></ion-icon>
          </ion-button>
          <app-language-chooser></app-language-chooser>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <h1 id="main-heading" tabindex="-1">{{ 'TABS.MICROIA' | translate }}</h1>
    
    <!-- Contenido de MicroIA vendrá aquí -->
  </main>
</ion-content>
