ion-button {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  min-width: unset; // Allow button to shrink to content size
  height: 32px; // Fixed height for the button
  .language-flag-icon {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    background-color: var(--ion-color-primary);
  }
}

.mask {
  width: 24px;
  height: 24px;
  background-color: #3498db; /* Color de fondo o imagen */
  border-radius: 50%; /* Esto hace el círculo */
  /* Opcional: para centrar contenido dentro */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Importante si pones imágenes dentro */
}

/* Ejemplo con imagen dentro */
.circulo-mascara img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen sin deformarla */
}
