ion-button {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  min-width: unset; // Allow button to shrink to content size
  height: 32px; // Fixed height for the button
  .language-flag-icon {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
    background-color: var(--ion-color-primary);
  }
}
