<ion-header>
  <ion-toolbar class="aligned-with-content">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/microbit"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/evaluador-accesibilidad" [title]="'ACCESSIBILITY_EVALUATOR_TITLE' | translate">
        <ion-icon name="accessibility-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <app-language-chooser></app-language-chooser>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-wrapper">
    <h1>{{ title }}</h1>

    <video controls width="100%" height="auto">
      <source src="assets/videos/rps_clip.mp4" type="video/mp4">
      {{ 'RPS_PAGE.VIDEO_NOT_SUPPORTED' | translate }}
    </video>

    <h2>{{ 'RPS_PAGE.INTRODUCTION_TITLE' | translate }}</h2>
    <p>{{ 'RPS_PAGE.INTRODUCTION_TEXT' | translate }}</p>
    <p>{{ 'RPS_PAGE.INTRODUCTION_TEXT_1' | translate }}</p>

    <h2>{{ 'RPS_PAGE.MATERIALS_TITLE' | translate }}</h2>
    <ul>
      <li *ngFor="let item of ('RPS_PAGE.MATERIALS_LIST' | translate)">{{ item }}</li>
    </ul>

    <h2>{{ 'RPS_PAGE.TARGET_TITLE' | translate }}</h2>
    <p>{{ 'RPS_PAGE.TARGET_TEXT' | translate }}</p>

    <h2>{{ 'RPS_PAGE.STEPS_TITLE' | translate }}</h2>
    <h3>{{ 'RPS_PAGE.STEP_1_TITLE' | translate }}</h3>
    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_2' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_1' | translate }}</p>
    <ul>
      <li *ngFor="let item of ('RPS_PAGE.IMPORTS_LIST' | translate)">{{ item }}</li>
    </ul>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_2' | translate }}</p>
    <pre><code [highlight]="pythonCode_1_1" [language]="'python'"></code></pre>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_3' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_3' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_4' | translate }}</p>
    <pre><code [highlight]="pythonCode_2_1" [language]="'python'"></code></pre>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_4' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_5' | translate }}</p>
    <pre><code [highlight]="pythonCode_3_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_6' | translate }}</p>
    <ul>
      <li *ngFor="let item of ('RPS_PAGE.CODE_1_LIST' | translate)">{{ item }}</li>
    </ul>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_7' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_5' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_8' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_9' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_10' | translate }}</p>
    <pre><code [highlight]="pythonCode_4_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_11' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_6' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_12' | translate }}</p>
    <pre><code [highlight]="pythonCode_5_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_13' | translate }}</p>
    <pre><code [highlight]="pythonCode_5_2" [language]="'python'"></code></pre>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_14' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_7' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_15' | translate }}</p>
    <pre><code [highlight]="pythonCode_6_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_16' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_8' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_17' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_18' | translate }}</p>
    <pre><code [highlight]="pythonCode_7_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_19' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_9' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_20' | translate }}</p>
    <pre><code [highlight]="pythonCode_8_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_21' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_22' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_10' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_23' | translate }}</p>
    <pre><code [highlight]="pythonCode_9_1" [language]="'python'"></code></pre>


    <p>{{ 'RPS_PAGE.STEP_1_TEXT_24' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_25' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_11' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_26' | translate }}</p>
    <pre><code [highlight]="pythonCode_10_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_27' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_12' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_28' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_29' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_30' | translate }}</p>
    <pre><code [highlight]="pythonCode_11_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_31' | translate }}</p>
    <pre><code [highlight]="pythonCode_11_2" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_32' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_33' | translate }}</p>
    <pre><code [highlight]="pythonCode_11_3" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_34' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_35' | translate }}</p>
    <pre><code [highlight]="pythonCode_11_4" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_36' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_13' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_37' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_38' | translate }}</p>
    <pre><code [highlight]="pythonCode_12_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_39' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_14' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_40' | translate }}</p>
    <pre><code [highlight]="pythonCode_13_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_41' | translate }}</p>
    <pre><code [highlight]="pythonCode_13_2" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_42' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_43' | translate }}</p>
    <pre><code [highlight]="pythonCode_13_3" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_44' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_15' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_45' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_46' | translate }}</p>
    <pre><code [highlight]="pythonCode_14_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_47' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_48' | translate }}</p>
    <pre><code [highlight]="pythonCode_14_2" [language]="'python'"></code></pre>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_16' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_49' | translate }}</p>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_50' | translate }}</p>
    <pre><code [highlight]="pythonCode_15_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_51' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_17' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_52' | translate }}</p>
    <pre><code [highlight]="pythonCode_16_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_53' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_18' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_54' | translate }}</p>
    <pre><code [highlight]="pythonCode_17_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_55' | translate }}</p>
    <pre><code [highlight]="pythonCode_17_2" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_56' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_19' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_57' | translate }}</p>
    <pre><code [highlight]="pythonCode_18_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_58' | translate }}</p>

    <h4>{{ 'RPS_PAGE.STEP_1_TITLE_20' | translate }}</h4>
    <p>{{ 'RPS_PAGE.STEP_1_TEXT_59' | translate }}</p>
    <pre><code [highlight]="pythonCode_19_1" [language]="'python'"></code></pre>

    <p>{{ 'RPS_PAGE.STEP_1_TEXT_60' | translate }}</p>

    <h3>{{ 'RPS_PAGE.STEP_2_TITLE' | translate }}</h3>
    <a href="../../assets/Microbit/03_Advanced/04_PedraPapaerTisora/PedraPaperTisora.hex" target="_blank">{{ 'RPS_PAGE.STEP_2_TEXT' | translate }}</a>
    <pre><code [highlight]="pythonCode" [language]="'python'"></code></pre>

    <h3>{{ 'RPS_PAGE.STEP_3_TITLE' | translate }}</h3>
    <p>{{ 'RPS_PAGE.STEP_3_TEXT' | translate }}</p>
  </div>
</ion-content>
