<ion-header>
  <ion-toolbar class="aligned-with-content">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/microbit"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/evaluador-accesibilidad" [title]="'ACCESSIBILITY_EVALUATOR_TITLE' | translate">
        <ion-icon name="accessibility-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button routerLink="/settings" [title]="'TABS.SETTINGS' | translate">
        <ion-icon name="settings-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-wrapper">
    <h1>{{ title }}</h1>

    <video controls width="100%" height="auto">
      <source src="assets/videos/heart_clip.mp4" type="video/mp4">
      {{ 'HEART_PAGE.VIDEO_NOT_SUPPORTED' | translate }}
    </video>

    <h2>{{ 'HEART_PAGE.INTRODUCTION_TITLE' | translate }}</h2>
    <p *ngFor="let item of ('HEART_PAGE.INTRODUCTION_TEXT' | translate)">{{ item }}</p>

    <h2>{{ 'HEART_PAGE.MATERIALS_TITLE' | translate }}</h2>
    <ul>
      <li *ngFor="let item of ('HEART_PAGE.MATERIALS_LIST' | translate)">{{ item }}</li>
    </ul>

    <h2>{{ 'HEART_PAGE.STEPS_TITLE' | translate }}</h2>
    <h3>{{ 'HEART_PAGE.STEP_1_TITLE' | translate }}</h3>
    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_1' | translate }}</h4>
    <p>{{ 'HEART_PAGE.STEP_1_TEXT' | translate }}</p>
    <pre><code [highlight]="pythonCode_1_1" [language]="'python'"></code></pre>

    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_2' | translate }}</h4>
    <p>{{ 'HEART_PAGE.STEP_1_TEXT_1' | translate }}</p>
    <pre><code [highlight]="pythonCode_2_1" [language]="'python'"></code></pre>

    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_2' | translate)">{{ item }}</p>
    <pre><code [highlight]="pythonCode_2_2" [language]="'python'"></code></pre>

    <p>{{ 'HEART_PAGE.STEP_1_TEXT_3' | translate }}</p>
    <pre><code [highlight]="pythonCode_2_3" [language]="'python'"></code></pre>

    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_3' | translate }}</h4>
    <p>{{ 'HEART_PAGE.STEP_1_TEXT_4' | translate }}</p>
    <ol>
      <li *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_5' | translate)">{{ item }}</li>
    </ol>

    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_4' | translate }}</h4>
    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_6' | translate)">{{ item }}</p>
    <pre><code [highlight]="pythonCode_3_1" [language]="'python'"></code></pre>

    <p>{{ 'HEART_PAGE.STEP_1_TEXT_7' | translate }}</p>
    <pre><code [highlight]="pythonCode_3_2" [language]="'python'"></code></pre>

    <p>{{ 'HEART_PAGE.STEP_1_TEXT_8' | translate }}</p>

    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_5' | translate }}</h4>
    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_9' | translate)">{{ item }}</p>
    <pre><code [highlight]="pythonCode_4_1" [language]="'python'"></code></pre>

    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_10' | translate)">{{ item }}</p>

    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_6' | translate }}</h4>
    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_11' | translate)">{{ item }}</p>
    <pre><code [highlight]="pythonCode_5_1" [language]="'python'"></code></pre>

    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_12' | translate)">{{ item }}</p>

    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_7' | translate }}</h4>
    <p>{{ 'HEART_PAGE.STEP_1_TEXT_13' | translate }}</p>
    <pre><code [highlight]="pythonCode_6_1" [language]="'python'"></code></pre>

    <p>{{ 'HEART_PAGE.STEP_1_TEXT_14' | translate }}</p>

    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_8' | translate }}</h4>
    <p>{{ 'HEART_PAGE.STEP_1_TEXT_15' | translate }}</p>
    <table>
      <caption>{{ 'HEART_PAGE.TABLE_TITLE' | translate }}</caption>
      <thead>
        <tr>
          <th scope="col">{{ 'HEART_PAGE.TABLE_HD_1' | translate }}</th>
          <th scope="col">{{ 'HEART_PAGE.TABLE_HD_2' | translate }}</th>
          <th scope="col">{{ 'HEART_PAGE.TABLE_HD_3' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>60</td>
          <td>1</td>
          <td>1</td>
        </tr>
        <tr>
          <td>80</td>
          <td>1.33</td>
          <td>0.75</td>
        </tr>
        <tr>
          <td>80</td>
          <td>1.67</td>
          <td>0.6</td>
        </tr>
      </tbody>
    </table>

    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_16' | translate)">{{ item }}</p>

    <figure>
      <img [src]="getImageSrc()" alt="{{ 'HEART_PAGE.FORMULA_ALT_TEXT' | translate }}" style="display: block; margin: 0 auto; max-width: 100%;">
      <figcaption>{{ 'HEART_PAGE.FORMULA_ALT_TEXT_3' | translate }}</figcaption>
    </figure>

    <figure>
      <img src="assets/img/sol.png" alt="{{ 'HEART_PAGE.FORMULA_ALT_TEXT_2' | translate }}" />
      <figcaption>{{ 'HEART_PAGE.FORMULA_ALT_TEXT_3' | translate }}</figcaption>
    </figure>

    <p>{{ 'HEART_PAGE.STEP_1_TEXT_17' | translate }}</p>

    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_9' | translate }}</h4>
    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_18' | translate)">{{ item }}</p>
    <pre><code [highlight]="pythonCode_7_1" [language]="'python'"></code></pre>

    <p>{{ 'HEART_PAGE.STEP_1_TEXT_19' | translate }}</p>

    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_10' | translate }}</h4>
    <p>{{ 'HEART_PAGE.STEP_1_TEXT_20' | translate }}</p>
    <pre><code [highlight]="pythonCode_8_1" [language]="'python'"></code></pre>

    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_21' | translate)">{{ item }}</p>

    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_11' | translate }}</h4>
    <p>{{ 'HEART_PAGE.STEP_1_TEXT_22' | translate }}</p>
    <pre><code [highlight]="pythonCode_9_1" [language]="'python'"></code></pre>

    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_23' | translate)">{{ item }}</p>
    <pre><code [highlight]="pythonCode_10_2" [language]="'python'"></code></pre>

    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_24' | translate)">{{ item }}</p>
    <pre><code [highlight]="pythonCode_10_3" [language]="'python'"></code></pre>

    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_25' | translate)">{{ item }}</p>

    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_12' | translate }}</h4>
    <p *ngFor="let item of ('HEART_PAGE.STEP_1_TEXT_26' | translate)">{{ item }}</p>
    <pre><code [highlight]="pythonCode_11_1" [language]="'python'"></code></pre>

    <p>{{ 'HEART_PAGE.STEP_1_TEXT_27' | translate }}</p>
    <pre><code [highlight]="pythonCode_11_1" [language]="'python'"></code></pre>

    <p>{{ 'HEART_PAGE.STEP_1_TEXT_28' | translate }}</p>

    <h4>{{ 'HEART_PAGE.STEP_1_TITLE_13' | translate }}</h4>
    <p>{{ 'HEART_PAGE.STEP_1_TEXT_29' | translate }}</p>


    <h3>{{ 'HEART_PAGE.STEP_2_TITLE' | translate }}</h3>
    <p>{{ 'HEART_PAGE.STEP_2_TEXT' | translate }}</p>
    <pre><code [highlight]="pythonCode" [language]="'python'"></code></pre>

    <h3>{{ 'HEART_PAGE.STEP_3_TITLE' | translate }}</h3>
    <p>{{ 'HEART_PAGE.STEP_3_TEXT' | translate }}</p>
  </div>
</ion-content>
